<a href="https://colab.research.google.com/github/TaruSora/NLP_100knock/blob/main/100knock_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10.行数をカウントせよ．確認にはwcコマンドを用いよ．

In [6]:
# 10

import pandas as pd
def main():
    df = pd.read_csv('popular-names.txt', sep='\t', header=None)
    print(len(df))
main() 

# wcコマンドで確認
! wc "popular-names.txt"

2780
 2780 11120 55026 popular-names.txt

11.タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [9]:
# 11

import pandas as pd
def main():
    df = pd.read_csv('popular-names.txt', sep='\t', header=None)
    df.to_csv('result.txt', sep=' ', header=None, index=False)
main()

! head -n 5 result.txt
print('\n')

# sedコマンドで確認
! sed 's/\t/ /g' popular-names.txt > replaced.txt
! head -n 5 replaced.txt

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880


Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

12.各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [13]:
# 12 

import pandas as pd
def main():
    df = pd.read_csv('popular-names.txt', sep='\t', header=None)
    df[0].to_csv('col1.txt', header=None, index=False)
    df[1].to_csv('col2.txt', header=None, index=False)
main()

! head -n 5 col1.txt
! head -n 5 col2.txt
print('\n')

# cutコマンドで確認
! cut -f 1 -d $'\t' popular-names.txt > replaced1.txt
! head -n 5 replaced1.txt
! cut -f 2 -d $'\t' popular-names.txt > replaced2.txt
! head -n 5 replaced2.txt

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F


Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

13.12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [18]:
# 13

import pandas as pd
def main():
    df1 = pd.read_csv('col1.txt', sep='\t', header=None)
    df2 = pd.read_csv('col2.txt', sep='\t', header=None)
    df = pd.concat([df1, df2], axis=1) # axis=1で横方向の指定
    df.to_csv('result.txt', sep='\t', header=None, index=False)
main()

! head -n 5 result.txt
print('\n')

# pasteコマンドで確認
! paste col1.txt col2.txt > replaced.txt
! head -n 5 replaced.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F


Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

14.自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [23]:
# 14

import pandas as pd
def main(N):
    df = pd.read_csv('popular-names.txt', sep='\t', header=None)
    print(df.head(N))
main(5)
print('\n')

# headコマンドで確認
! head -n 5 popular-names.txt

           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880


Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880